<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-8">

      <div class="card">
        <div class="card-header">
          <strong>Información del negocio</strong>
        </div>
        <div class="card-body">

          
          <div class="row">
            <div class="col-sm-12">

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Nombre del negocio</label>
                    <input [(ngModel)]="nombre" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>E-mail</label>
                    <input [(ngModel)]="email" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Dirección</label>
                    <input [(ngModel)]="direccion" type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Barrio</label>
                    <ng-select [(ngModel)]="barrio" class="form-control" [clearable]="false" [searchable]="true">
                      <ng-option *ngFor="let barrio of barrios_disponibles" value="{{ barrio }}">{{ barrio }}</ng-option>  
                  </ng-select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Teléfono</label>
                    <input [(ngModel)]="telefono" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Rubro</label>
                    <ng-select [(ngModel)]="rubro" class="form-control" [clearable]="false" [searchable]="true">
                      <ng-option value="Coiffeurs / Peluquerías">Coiffeurs / Peluquerías</ng-option>
                      <ng-option value="Entrenamiento Funcional / Crossfit">Entrenamiento Funcional / Crossfit</ng-option>
                      <ng-option value="Gimnasios">Gimnasios</ng-option>
                      <ng-option value="Masajistas">Masajistas</ng-option>
                      <ng-option value="Otros">Otros</ng-option>
                  </ng-select>
                  </div>
                </div>

              </div>



            </div>
           
          </div>

       

        </div>
       
      </div>

    </div> 

    <div class="col-sm-4">
      <div class="brand-card">
        <div class="brand-card-header" style="background-color: #8121D3;">
          <i class="fa fa-instagram"></i>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value" style="font-size: 14px;">Para que tus seguidores puedan agendarse,<br> pegá este link en tu descripción en Instagram!</div>
            <div class="text-muted mt-4">https://cali.uy/#/s/{{slug}}</div>
            <div class="text-muted mt-2"><button (click)="copyLink()" type="button" class="btn btn-sm btn-ghost-success">Copiar enlace</button></div>
           
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Configuración de la agenda</strong>
        </div>
        <div class="card-body">

          <div class="row">


             
          

                <div class="form-group col-sm-12">
                  <label>Seleccione sus días de trabajo</label>
                  <div class="input-group" style="width: 100%;">
                    <button (click)="switchDay('lunes')" [ngClass]="lunes ? 'btn-cali' : 'btn-light'" style='border-radius: 0px;' type="button" class="btn">Lunes</button>
                    <button (click)="switchDay('martes')" [ngClass]="martes ? 'btn-cali' : 'btn-light'" style='border-radius: 0px;' type="button" class="btn">Martes</button>
                    <button (click)="switchDay('miercoles')" [ngClass]="miercoles ? 'btn-cali' : 'btn-light'" style='border-radius: 0px;' type="button" class="btn">Miércoles</button>
                    <button (click)="switchDay('jueves')" [ngClass]="jueves ? 'btn-cali' : 'btn-light'" style='border-radius: 0px;' type="button" class="btn">Jueves</button>
                    <button (click)="switchDay('viernes')" [ngClass]="viernes ? 'btn-cali' : 'btn-light'" style='border-radius: 0px;' type="button" class="btn">Viernes</button>
                    <button (click)="switchDay('sabado')" [ngClass]="sabado ? 'btn-cali' : 'btn-light'" style='border-radius: 0px;' type="button" class="btn">Sábado</button>
                    <button (click)="switchDay('domingo')" [ngClass]="domingo ? 'btn-cali' : 'btn-light'" style='border-radius: 0px;' type="button" class="btn">Domingo</button>
                  </div>
                 

                  <!-- <div class="col-md-9 col-form-label">
                    <div class="form-check">
                      <input class="form-check-input" id="checkbox1" type="checkbox" [(ngModel)]="lunes">
                      <label class="form-check-label" for="checkbox1"> Lunes </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" id="checkbox2" type="checkbox" [(ngModel)]="martes">
                      <label class="form-check-label" for="checkbox2"> Martes </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" id="checkbox3" type="checkbox" [(ngModel)]="miercoles">
                      <label class="form-check-label" for="checkbox3"> Miércoles </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" id="checkbox4" type="checkbox" [(ngModel)]="jueves">
                      <label class="form-check-label" for="checkbox4"> Jueves </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" id="checkbox5" type="checkbox" [(ngModel)]="viernes">
                      <label class="form-check-label" for="checkbox5"> Viernes </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" id="checkbox6" type="checkbox" [(ngModel)]="sabado">
                      <label class="form-check-label" for="checkbox6"> Sábado </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" id="checkbox7" type="checkbox" [(ngModel)]="domingo">
                      <label class="form-check-label" for="checkbox7"> Domingo </label>
                    </div>
                    
                </div> -->

          </div>
        </div>
               
          
               
             
          <hr>


              <div class="row">

                <div class="form-group col-sm-2">
                  <label>Desde</label>
                  <ng-select [(ngModel)]="desde" class="form-control" [searchable]="false" [clearable]="false" >
                    <ng-option *ngFor="let horario of horarios_disponibles" value="{{ horario }}">{{ horario }}</ng-option>  
                  </ng-select>
                </div>
                <div class="form-group col-sm-2">
                  <label>Hasta</label>
                  <ng-select [(ngModel)]="hasta" class="form-control" [searchable]="false" [clearable]="false">
                    <ng-option *ngFor="let horario of horarios_disponibles" value="{{ horario }}">{{ horario }}</ng-option>  
                  </ng-select>
                </div>

                <div class="form-group col-sm-2">
                  <label>Descanso</label>
                  <ng-select [(ngModel)]="descanso" class="form-control" [searchable]="false" [clearable]="false">
                    <ng-option value="Sin descanso">Sin descanso</ng-option>  
                    <ng-option value="De 12 a 13">De 12 a 13</ng-option>  
                    <ng-option value="De 13 a 14">De 13 a 14</ng-option>  
                  </ng-select>
                </div>


                <div class="form-group col-sm-2">
                  <label>Cantidad de cupos</label>
                  <input [(ngModel)]="cupos" type="text" class="form-control">
                </div>

                <div class="form-group col-sm-4">
                  <label>Duración del servicio</label>
                  <ng-select [(ngModel)]="duracion" class="form-control" [clearable]="false" [searchable]="false">
                    <ng-option value="10">10 minutos</ng-option>
                    <ng-option value="15">15 minutos</ng-option>
                    <ng-option value="30">30 minutos</ng-option>
                    <ng-option value="60">1 hora</ng-option>
                    <ng-option value="90">1 hora y media</ng-option>
                    <ng-option value="120">2 horas</ng-option>
                </ng-select>
                </div>

              
       
               
              </div>



              

            

           
         
         
         
        

       

        </div>
       
      </div>
    
    </div> 
  </div>  

      <button (click)="guardar()" type="submit" class="btn btn-lg btn-cali">Guardar Información</button>

    </div><!--/.col-->
