<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Información principal</strong>
        </div>
        <div class="card-body">

          
          <div class="row">
            <div class="col-sm-6">

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" value="Peluquería Morini">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Dirección</label>
                    <input type="text" class="form-control" value="Rivera 2345 esq. Verdi">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Teléfono</label>
                    <input type="text" class="form-control" value="098347712">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-sm-7">
                  <label>Zona</label>
                  <ng-select [(ngModel)]="zona" class="form-control" [clearable]="false" [searchable]="false">
                    <ng-option value="Malvín">Malvín</ng-option>  
                    <ng-option value="Buceo">Buceo</ng-option>  
                    <ng-option value="Pocitos">Pocitos</ng-option>  
                </ng-select>
                </div>
                <div class="form-group col-sm-5">
                  <label>Duración del servicio</label>
                  <ng-select [(ngModel)]="duracion" class="form-control" [clearable]="false" [searchable]="false">
                    <ng-option value="10 minutos">10 minutos</ng-option>  
                    <ng-option value="15 minutos">15 minutos</ng-option>  
                    <ng-option value="30 minutos">30 minutos</ng-option>  
                    <ng-option value="1 hora">1 hora</ng-option>  
                    <ng-option value="2 horas">2 horas</ng-option>  
                </ng-select>
                </div>
              </div>

             

            </div>
            <div class="col-sm-6">
             
              
            </div>
          </div>
         
         
        

       

        </div>
        <div class="card-footer">
          <button (click)="guardar()" type="submit" class="btn btn-md btn-primary"><i class="fa fa-save"></i> Guardar</button>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
