<div class="app-body" style="margin-top: 0px;">
  <main class="main" style="background-image: linear-gradient(#fff, #fff);">
    <div class="container-fluid animated fadeIn">
      <div class="row mt-5 animated fadeIn">
        <div class="col-lg-5 mx-auto">
          <h3 class="text-center mb-5" style="font-size: 29px; background: -webkit-linear-gradient(#8F15D4, #3945D1); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">RESERVA CONFIRMADA</h3>
          <p class="text-center display-4" style="font-size: 19px;"><strong>{{ negocio }}</strong></p>
          <p class="text-center display-4" style="font-size: 19px;">{{ fecha }}</p>
          <p class="text-center display-4" style="font-size: 19px;">{{ horario }} hs.</p>
          <div class="alert alert-primary text-left" role="alert" style="color: #8F15D4; border-color: #8F15D4; background-color: #fff;">
            <h3 class="text-center" style="font-size: 29px;"><i class="fa fa-clock-o" aria-hidden="true"></i></h3>
             <p class="text-center"><strong>Recordá ser puntual :)</strong></p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>