<div class="app-body" style="margin-top: 0px;">
    <main class="main d-flex align-items-center" style="background-image: linear-gradient(#8F15D4, #3945D1);">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card-group">


              <div *ngIf="!fin" class="card p-4 animated fadeIn" style="background-color: #fff; border-radius: 3px;">
                <div class="card-body">
                  <form [formGroup]="loginForm" (keydown)="keyDownFunction($event)">
                    <h3 class="text-center" style="font-size: 29px; background: -webkit-linear-gradient(#8F15D4, #3945D1); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">INGRESÁ TU CONTRASEÑA</h3>
                    <br>
                    <!-- <p class="text-muted text-center mb-4">Ingresá tu e-mail</p> -->
                    <div class="input-group mb-5">
                      <input [disabled]="loading" style="height: 50px; border-radius: 50px; border: solid 1px; border-color: #5936D2;" autocomplete="off" placeholder="Ingresá tu contraseña" class="form-control form-control-lg text-center" type="password" [(ngModel)]="password1" [ngModelOptions]="{standalone: true}">                      
                    </div>

                    <div class="input-group mb-5">
                      <input [disabled]="loading" style="height: 50px; border-radius: 50px; border: solid 1px; border-color: #5936D2;" autocomplete="off" placeholder="Repetí la contraseña" class="form-control form-control-lg text-center" type="password" [(ngModel)]="password2" [ngModelOptions]="{standalone: true}">                      
                    </div>
                   
                    
                    <button [disabled]="loading || password1 == '' || password2 == '' || !Utilidades.validarPassword(password1, password2)" (click)="cambiarPassword()" type="button" class="btn btn-grad btn-block"><i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i> CONFIRMAR</button>
                     
                    
                   
  
                    
  
                    <!-- <div class="row">
                      <div class="col-md-12">
                         <h1 style="text-align: center; cursor: pointer;" class="mb-4" [routerLink]="['/']" routerLinkActive="active">
                      <img src="assets/img/logo2021.png" width="80" height="80">
                    </h1>
                      </div>
                    </div> -->
  
                  </form>
                </div>
              </div>

              <div *ngIf="fin" class="card text-center" style="background-color: #fff; color: #5138D1 !important">
               
           
                <div class="card-body" style="padding-bottom: 0px;">
    
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <h3 class="text-center" style="font-size: 29px; background: -webkit-linear-gradient(#8F15D4, #3945D1); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">CONTRASEÑA CAMBIADA</h3>
                        <!-- <h3 class="text-center" style="font-size: 29px; background: -webkit-linear-gradient(#8F15D4, #3945D1); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"><i class="fa fa-envelope" aria-hidden="true"></i></h3> -->
                        <br>
                        <p class="text-muted text-center" style="font-size: 17px;">Tu contraseña se cambió correctamente</p>
                       
                        <!-- <br> -->

                        <div class="row text-center">
                          <div class="col-12">
                            <button type="button" class="btn btn-link" style="color: #9E31EE !important;" [routerLink]="['/login']">Iniciar sesión</button>
                          </div>
                        </div>

                        <!-- <p class="text-right">
                          <img src="assets/img/logo2021.png" width="50" height="50">
                        </p> -->
    
                      </div>
                    </div>
                  </div>
    
                  
                </div>
               
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  