<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Negocios</strong>
        </div>
        <div class="card-body">
          <table class="table ">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Último login</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let negocio of negocios">
                <td><i [ngClass]="negocio['habilitado'] ? 'text-success' : 'text-danger'" class="fa fa-circle" aria-hidden="true"></i> {{ negocio['nombre'] }}</td>
                <td>{{ negocio['email'] }}</td>
                <td>{{ negocio['telefono'] }}</td>
                <td>{{ negocio['last_login'] }}</td>
                <td class="text-right">
                  <button class="btn btn-sm btn-danger" type="button" data-toggle="modal" (click)="eliminar(negocio['id'])"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
               
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>





<div bsModal #modalConfirmar="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar negocio</h4>
        <button type="button" class="close" (click)="modalConfirmar.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Está seguro que desea eliminar este negocio? Se eliminará información del mismo y reservas.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalConfirmar.hide()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmar()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
