<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Fecha</strong>
        </div>
        <div class="card-body">
          <input class="form-control form-control-lg" [(ngModel)]="fecha" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1">
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        
        <div class="card-body">
          <table class="table">
           
            <tbody>
              <tr>
                <td style="width: 80%;">
                  01/11/2020 <br>
                  <i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 <br>
                  juan@gmail.com <br>
                  Corte de cabello
                </td>
               
                <td  style="width: 20%; vertical-align: middle;">

                  <button class="btn btn-sm btn-success btn-block" type="button">Atendido</button>
                  <button class="btn btn-sm btn-primary btn-block" type="button">No concurre</button>
                  <button class="btn btn-sm btn-danger btn-block" type="button" data-toggle="modal" (click)="myModal.show()">Cancelar</button>

                </td>
               
              </tr>

              <tr>
                <td style="width: 80%;">
                  01/11/2020 <br>
                  <i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 <br>
                  diego@gmail.com <br>
                  Corte de cabello
                </td>
               
                <td  style="width: 20%; vertical-align: middle;">

                  <button class="btn btn-sm btn-success btn-block" type="button">Atendido</button>
                  <button class="btn btn-sm btn-primary btn-block" type="button">No concurre</button>
                  <button class="btn btn-sm btn-danger btn-block" type="button" data-toggle="modal" (click)="myModal.show()">Cancelar</button>

                </td>
               
              </tr>
              
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>







<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirme</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Desea cancelar esta cita?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Cancelar</button>
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
