

.form-control.ng-select  {   
    padding-top: 0;
    padding-bottom: 0;
    /* padding-right: 0;
    padding-left: 0; */
  }


  .test .ng-select-container {
    color: #5c6873;
    border: none;
    border-top: none;
    border-left: none;
    border-right: none;
    min-height: 100%;
}


.ng-select .ng-select-container {
  color: #5c6873;
  border-top: none;
  border-left: none;
  border-right: none;
  min-height: 100%;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
  border-color: #e4e7ea;
}



.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: #5138D1;
}


input:read-only {
  background-color: #FFFFFF !important;
}

.btn{
  border-radius: 3px;
}





.btn-cali {
  color: #fff;
  background-color: #5138D1;
  border-color: #5138D1;
}

.btn-cali:hover{
  background-color: #652BD2 !important;
  color: #fff !important;
}

.text-cali{
  color: #5138D1 !important;
}
/* 
.btn-link{
  color: #5138D1 !important;
} */







.btn-grad {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}
.btn-grad {
   height: 50px;
   text-align: center;
   text-transform: uppercase;
   font-size: 20px;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 50px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
