<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Horarios</strong>
        </div>
        <div class="card-body">

         
          <div class="row">
            <div class="col-sm-12">
             

              <div class="row">
                <div class="form-group col-sm-12">
                  <label><i class="fa fa-calendar-o" aria-hidden="true"></i> Días de trabajo</label>
                  <ng-select [(ngModel)]="dias" class="form-control" [searchable]="false" [clearable]="false" [multiple]="true">
                    <ng-option value="lunes">Lunes</ng-option>  
                    <ng-option value="martes">Martes</ng-option>  
                    <ng-option value="miercoles">Miércoles</ng-option>  
                    <ng-option value="jueves">Jueves</ng-option>  
                    <ng-option value="viernes">Viernes</ng-option> 
                    <ng-option value="sabado">Sábado</ng-option> 
                    <ng-option value="domingo">Domingo</ng-option>  
                  </ng-select>
                </div>
               
          
               
              </div>

              <br>


              <div class="row">

                <div class="form-group col-sm-4">
                  <label><i class="fa fa-clock-o" aria-hidden="true"></i> Desde</label>
                  <ng-select [(ngModel)]="desde" class="form-control" [searchable]="false" [clearable]="false" >
                    <ng-option *ngFor="let horario of horarios_disponibles" value="{{ horario }}">{{ horario }}</ng-option>  
                  </ng-select>
                </div>
                <div class="form-group col-sm-4">
                  <label><i class="fa fa-clock-o" aria-hidden="true"></i> Hasta</label>
                  <ng-select [(ngModel)]="hasta" class="form-control" [searchable]="false" [clearable]="false">
                    <ng-option *ngFor="let horario of horarios_disponibles" value="{{ horario }}">{{ horario }}</ng-option>  
                  </ng-select>
                </div>
                <div class="form-group col-sm-4">
                  <label><i class="fa fa-cutlery" aria-hidden="true"></i> Descanso</label>
                  <ng-select [(ngModel)]="descanso" class="form-control" [searchable]="false" [clearable]="false">
                    <ng-option value="Sin descanso">Sin descanso</ng-option>  
                    <ng-option value="De 12 a 13">De 12 a 13</ng-option>  
                    <ng-option value="De 13 a 14">De 13 a 14</ng-option>  
                  </ng-select>
                </div>
       
               
              </div>



              

            

            </div>
           
          </div>
         
         
        

       

        </div>
        <div class="card-footer">
          <button (click)="guardar()" type="submit" class="btn btn-md btn-primary"><i class="fa fa-save"></i> Guardar</button>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
