<div style="margin:0;padding:0">
    <table border="0" valign="top" align="center" cellpadding="0" cellspacing="0" style="min-width:320px;max-width:640px;width:100%;"><tbody>
        <tr>
            <td>
               
    
        <table style="background-image: linear-gradient(#8F15D4, #3945D1);" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td style="padding:43px 30px 42px;text-align:center">
                        <span style="font-family: Poppins, sans-serif,Arial,sans-serif;font-size:26px;font-weight:300;color:#fff;display:inline-block;line-height:30px;line-height:1.1;max-width:440px;overflow:hidden">
                            Cambio de contraseña
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding:0 0 40px;">
                        <table style="border-radius: 8px;max-width:440px;background-color:#fff;margin:0 auto;border-width:0 1px 2px 1px;border-style:solid;border-color:#efefef" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>

                                
                                <tr>
                                    <td style="text-align:center;padding:0; border-radius: 8px;">
                                        <div style="border-radius: 8px; background-color:#fff;height:40px;border-width:1px 1px 0 1px!important;border-style:solid;border-color:#f1f1f1;max-width:440px;margin:0 auto">&nbsp;
                                        </div>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td style="padding:0 10px 8px;text-align:center">
                                        <span style="font-family: Poppins, sans-serif,Arial,sans-serif;font-size:16px;font-weight:400;color:#333;display:inline-block;line-height:1.4">
                                            Recibimos una solicitud para restablecer tu contraseña.
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:0 10px 8px;text-align:center">
                                        <span style="font-family: Poppins, sans-serif,Arial,sans-serif;font-size:16px;font-weight:400;color:#333;display:inline-block;line-height:1.4">
                                            Para cambiarla, hacé clic en el siguiente botón:
                                        </span>
                                    </td>
                                </tr>

                               
                                <tr>
                                    <td style="padding:0 30px 51px;text-align:center">
                                        <a href="{{ system_url }}/#/password-recovery-step2/{{ usuario.confirmationToken }}" style="font-family:'Proxima Nova',Lato,'Helvetica Neue',Arial,sans-serif;font-size:16px;font-weight:300;background-color:#5138D1;color:#fff;padding:7px 45px 8px;border-radius:4px;display:inline-block;text-decoration:none!important;text-decoration:none">
                                        Cambiar contraseña
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0 10px 30px;text-align:center">
                                        <span style="font-family:&quot;Proxima Nova&quot;,Lato,&quot;Helvetica Neue&quot;,Arial,sans-serif;font-size:11px;font-weight:200;color:#333;display:inline-block;line-height:1.3">
                                             O desde este link: {{ system_url }}/#/password-recovery-step2/{{ usuario.confirmationToken }}
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:0 10px 8px;text-align:center">
                                        <span style="font-family: Poppins, sans-serif,Arial,sans-serif;font-size:16px;font-weight:400;color:#333;display:inline-block;line-height:1.4">
                                            Si no lo solicitaste, podés simplemente ignorar este mensaje.
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:0 10px 30px;text-align:center">
                                        <img src="https://www.cali.uy/assets/img/logo2021.png" alt="CALI" width="60" height="60">
                                    </td>
                                </tr>

                                
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding:0 0 14px;text-align:center">
                        <span style="font-family:&quot;Proxima Nova&quot;,Lato,&quot;Helvetica Neue&quot;,Arial,sans-serif;font-size:14px;font-weight:300;color:#fff;display:inline-block;line-height:1.3">Por cualquier consulta, no dudes en escribirnos
                        </span>
                    </td>
                </tr>
               
                <tr>
                    <td  align="center" style="padding:0 0 45px;text-align:center">
                        <span style="font-family:&quot;Proxima Nova&quot;,Lato,&quot;Helvetica Neue&quot;,Arial,sans-serif;font-size:17px;font-weight:300;color:#fff;display:inline-block;line-height:1.3;max-width:235px">
                        <a href='mailto:hola@cali.uy' style='color: #fff;'>hola@cali.uy</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        </td>
        </tr>
        </tbody>
    </table>
</div>