<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Información principal</strong>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="ccmonth">Rubro</label>
                  <ng-select class="form-control" [clearable]="false" [searchable]="false">
                    <ng-option value="Comercial">Comercial</ng-option>  
                    <ng-option value="Vivienda">Vivienda</ng-option>  
                    <ng-option value="Rural">Rural</ng-option>  
                    <ng-option value="De uso propio">De uso propio</ng-option>  
                </ng-select>
                </div>
                <div class="form-group col-sm-4">
                  <label for="ccyear">Metraje</label>
                  <input type="text" class="form-control" id="name">
    
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="cvv">Otro dato</label>
                    <input type="text" class="form-control" id="cvv">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="name">Notas</label>
                    <textarea id="textarea-input" name="textarea-input" rows="5" class="form-control"></textarea>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="name">Dirección</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                </div>
              </div>
              
            </div>
          </div>
         
         
        

       

        </div>
        <div class="card-footer">
          <button (click)="guardar()" type="submit" class="btn btn-md btn-primary"><i class="fa fa-save"></i> Guardar</button>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
