Estimado {{ usuario.getAlias() }},
<br>
Su solicitud de usuario para el sistema BOLSAMAX ha sido aceptada.
<br>
Para finalizar su registro, le pedimos que haga clic en el siguiente link:
<br>
<a href="{{ system_url }}/#/register-step2/{{ usuario.confirmationToken }}" >Finalizar registro</a>
<br>
Saludos,
<br>
<br>
BOLSAMAX