<div class="app-body" style="margin-top: 0px;">
  <main class="main d-flex align-items-center" style="background-image: linear-gradient(#8F15D4, #3945D1);">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          
          <div *ngIf="paso == 1" class="card mx-4" style="background-color: #fff; border-radius: 3px;">
            <div class="card-body p-4">
             
              <h3 class="text-center" style="font-size: 33px; background: -webkit-linear-gradient(#8F15D4, #3945D1); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">REGISTRO</h3>
              
              <p class="text-muted text-center mb-4 mt-4" style="font-size: 15px;">Ingresá los datos solicitados para registrar tu negocio en CALI</p>
                <div class="input-group mb-3 mt-2">
                  <input style="height: 50px; border-radius: 50px; border: solid 1px; border-color: #5936D2;" placeholder="Nombre del negocio" class="form-control form-control-lg" type="text" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="input-group mb-3">
                  <input style="height: 50px; border-radius: 50px; border: solid 1px; border-color: #5936D2;" autocomplete="off" placeholder="E-mail" class="form-control form-control-lg" type="text" [(ngModel)]="email" autocomplete="email" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="input-group mb-3">
                  <input style="height: 50px; border-radius: 50px; border: solid 1px; border-color: #5936D2;" autocomplete="off" placeholder="Contraseña" class="form-control form-control-lg" type="password" [(ngModel)]="password1" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="input-group mb-5">
                  <input style="height: 50px; border-radius: 50px; border: solid 1px; border-color: #5936D2;" placeholder="Repetí la contraseña" class="form-control form-control-lg" type="password" [(ngModel)]="password2" [ngModelOptions]="{standalone: true}">
                </div>
                <button [disabled]="cargando" (click)="registro()" type="button" class="btn btn-grad btn-block"><i *ngIf="cargando" class="fa fa-circle-o-notch fa-spin"></i> REGISTRARME</button>
                
                <hr>
                  
                
                <div class="row text-center">
                  <div class="col-12">
                    <button [disabled]="cargando" type="button" class="btn btn-link" style="color: #9E31EE !important;" [routerLink]="['/']">Volver al inicio</button>
                  </div>
                </div>

            </div>
           
          </div>

          <div *ngIf="paso == 2" class="card text-center" style="background-color: #fff; color: #5138D1 !important">
               
           
            <div class="card-body" style="padding-bottom: 0px;">

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <h3 class="text-center" style="font-size: 29px; background: -webkit-linear-gradient(#8F15D4, #3945D1); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">REGISTRO EXITOSO</h3>
                    <!-- <h3 class="text-center" style="font-size: 29px; background: -webkit-linear-gradient(#8F15D4, #3945D1); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"><i class="fa fa-envelope" aria-hidden="true"></i></h3> -->
                    <br>
                    <p class="text-muted text-left" style="font-size: 17px;">Te enviamos un e-mail a tu casilla. Por favor, sigue los pasos detallados en el mismo para finalizar tu registro en CALI.</p>
                    <br>
                    <h3 class="text-left" style="font-size: 20px; background: -webkit-linear-gradient(#8F15D4, #3945D1); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> IMPORTANTE</h3>
                    <p class=" text-left" style="font-size: 17px;">Si no visualizás este e-mail, por favor recordá revisar la carpeta <b>SPAM</b>.</p>
                    <br>
                    <p class="text-muted text-left" style="font-size: 17px;">Por cualquier consulta no dudes en escribirnos a <a href="mailto:hola@cali.uy">hola@cali.uy</a>.</p>
                    <hr>
                    <p class="text-right">
                      <img src="assets/img/logo2021.png" width="50" height="50">
                    </p>

                  </div>
                </div>
              </div>

              
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
