<app-header style="border-bottom: none; background-color: #F9F7F0;"
  [navbarBrandRouterLink]="['/']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/logo_full.png', width: 89, height: 25, alt: 'Company Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/logo_chico.png', width: 30, height: 30, alt: 'Company Logo'}"
  [sidebarToggler]="false"
  [asideMenuToggler]="false"
  [mobileSidebarToggler]="false"
  [mobileAsideMenuToggler]="false">
</app-header>
<div class="app-body">
 
  <!-- Main content -->
  <main class="main" style="background-color: #F9F7F0">
  
    <div class="container-fluid">
      

      <div class="animated fadeIn mt-5">

        <div class="row" *ngIf="paso == 1">
          <div class="col-lg-12" style="text-align: center;">
            <span class="display-4 text-primary" style="color: #178CA4 !important;"> {{ nombre_negocio }}</span>
            <!-- <p class="h6 text-primary"><i class="fa fa-scissors fa-md"></i> Peluquería</p> -->
          </div>
        </div>


        <div *ngIf="paso == 1">
          <div class="row mt-4">
           
            <div class="col-lg-8 mx-auto">
              <div class="card" style="background-color: #F9F7F0; border-color: #C8CED2;">
                
                <div class="card-body">
                  
                  
                  <div class="row">
                  
                  


                    <div class="form-group col-sm-7">
                      <label>&nbsp;</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" style="background-color: #fff; border-right: none; cursor: pointer;" [owlDateTimeTrigger]="dt1">
                          <i class="fa fa-calendar font-2xl" style="color: #168DA4;" ></i>
                        </span>
                      </div>
                      <input readonly class="form-control form-control-lg" type="text" style="border-left: none; cursor: pointer; color: #168DA4" [(ngModel)]="fecha" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [min]="min">
                      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                    </div>
                  </div>

                    
                    
                      <div class="form-group col-sm-5">
                        <label>&nbsp;</label>
                        <button *ngIf="!loading" (click)="buscar()" class="btn btn-lg btn-block btn-primary" type="button">Buscar horarios</button>
                        <button *ngIf="loading" disabled class="btn btn-lg btn-block btn-primary" type="button">Buscando</button>
                      </div>
                    
                  </div>




                </div>
              </div>
            </div>
            
          </div>


          <div class="row mt-4 animated fadeIn" *ngIf="mostrar_resultados">
           
            
            <div class="col-lg-8 mx-auto">


              <div class="row">

                <div class="col-6 col-sm-4 col-lg-3 col-md mb-3 text-left" *ngFor="let horario of horarios">
                  <button (click)="irApaso2(horario)" class="btn-block btn btn-lg btn-primary" type="button">{{ horario }}</button>
                </div>
              

              </div>
            </div>


            


            

          </div>

        </div>



        <div *ngIf="paso == 2">
          <div class="row mt-5 animated fadeIn">
            
            <div class="col-lg-5 mx-auto">
             

              <div class="card text-center" style="background-color: #F9F7F0; color: #168DA4 !important">
               
                <div class="card-header"> <i class="fa fa-calendar"></i> Confirmá tu reserva </div>
                <div class="card-body">

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <!-- <span class="display-4" style="font-size: 30px;">{{ nombre_negocio }}</span><br> -->
                        <!-- <span class="display-4" style="font-size: 18px;">{{ direccion_negocio }}</span><br> -->
                        <span class="display-4" style="font-size: 30px;">{{ fecha | date }}</span><br><br>
                        <span class="display-4" style="font-size: 30px;">{{ horario_seleccionado }} hs.</span><br>
                        
                        
                        <hr>
                         <span class="display-4" style="font-size: 18px;">Ingresa tu e-mail</span><br>
                        <input #inputMail [(ngModel)]="email" type="text" class="form-control form-control-lg mt-2 text-center">
                       
                        <div *ngIf="paso2_mensaje != ''" class="alert alert-danger mt-2" role="alert">
                           {{ paso2_mensaje }}
                        </div>

                      </div>
                    </div>
                  </div>

                  <button class="btn btn-link btn-lg" (click)="irApaso1()">Volver</button>
                  <button *ngIf="!loading" [disabled]="!Utilidades.validarEmail(email)" class="btn btn-primary btn-lg" (click)="agendar()">Confirmar</button>
                  <button *ngIf="loading" disabled class="btn btn-primary btn-lg" type="button"><i class="fa fa-circle-o-notch fa-spin"></i> Espere...</button>

                </div>
               
              </div>


            </div>
            
          </div>



        </div>



        <div *ngIf="paso == 3">
          <div class="row mt-5 animated fadeIn">
            
            <div class="col-lg-5 mx-auto">



              <div class="card" style="background-color: #F9F7F0; color: #168DA4 !important">
               
                <div class="card-header"> <i class="fa fa-check-circle"></i> Reserva pre-confirmada </div>
                <div class="card-body text-center">

              

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">

                        <span class="display-4" style="font-size: 30px;">{{ nombre_negocio }}</span><br><br>
                        <!-- <span class="display-4" style="font-size: 18px;">{{ direccion_negocio }}</span><br> -->
                        <span class="display-4" style="font-size: 30px;">{{ fecha | date }}</span><br>
                        <span class="display-4" style="font-size: 30px;">{{ horario_seleccionado }} hs.</span><br><br>

                        <div class="alert alert-primary" role="alert" style="text-align: left;">
                          <i class="fa fa-envelope-o" aria-hidden="true"></i> Te hemos enviado un email a tu casilla. Por favor sigue los pasos descriptos en el mismo para confirmar tu reserva.
                        </div>
                        
                        

                        
                      </div>
                    </div>
                  </div>

                  
                </div>
               
              </div>
             

            </div>
            
          </div>



        </div>

      </div>


    </div><!-- /.container-fluid -->
  </main>
  
</div>
<ngx-spinner type="timer" size="medium" bdColor = "rgba(35, 170, 214, 0.8)"><p style="color: #fff" > Cargando... </p></ngx-spinner>
<!-- https://napster2210.github.io/ngx-spinner/ -->
<!-- <app-footer>
  <span><a href="https://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer> -->
