<app-header style="border-bottom: none;"
  [navbarBrandRouterLink]="['/']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/logo_full.png', width: 89, height: 25, alt: 'Company Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/logo_chico.png', width: 30, height: 30, alt: 'Company Logo'}"
  [sidebarToggler]="false"
  [asideMenuToggler]="false"
  [mobileSidebarToggler]="false"
  [mobileAsideMenuToggler]="false">
  <!-- <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Settings</a>
    </li>
  </ul> -->
  <ul class="nav navbar-nav ml-auto mr-3">
   
   




<!-- 
    <li class="nav-item dropdown" placement="bottom right">
      <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Ingresar</a>
     
    </li> -->






  
   

    <!-- <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li> -->
  </ul>
</app-header>
<div class="app-body">
 
  <!-- Main content -->
  <main class="main" style="background-color: #FFFFFF">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
   
    <!-- deprecation warning for 'app-breadcrumb' -->
    <!--<ol class="breadcrumb">-->
      <!--<app-breadcrumb></app-breadcrumb>-->
      <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
      <!--<li class="breadcrumb-menu d-md-down-none">-->
        <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
          <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
          <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
          <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ol>-->
    <div class="container-fluid">
      

      <div class="animated fadeIn mt-5">

        <div class="row" *ngIf="paso == 1">
          <div class="col-lg-12" style="text-align: center;">
            <span class="display-4 text-primary"><i class="fa fa-scissors fa-md mt-4"></i> {{ negocio | titlecase }}</span>
            <p class="h6 text-primary">Peluquería</p>
          </div>
        </div>


        <div *ngIf="paso == 1">
          <div class="row mt-4">
           
            <div class="col-lg-8 mx-auto">
              <div class="card" style="border: none;">
                
                <div class="card-body">
                  
                  
                  <div class="row">
                  
                    <div class="form-group col-sm-4">
                          <label>&nbsp;</label>
                          <input class="form-control form-control-lg" [(ngModel)]="fecha_creacion"  [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1">
                          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                    </div>


                    <div class="form-group col-sm-5">
                      <label>&nbsp;</label>
                      <select class="form-control form-control-lg" id="select2" name="select2">
                        <option value="0">Tarea a realizar</option>
                        <option value="1">Corte dama</option>
                        <option value="2">Corte caballero</option>
                        <option value="3">Corte niño</option>
                      </select>
                  </div>
                    
                      <div class="form-group col-sm-3">
                        <label>&nbsp;</label>
                        <button (click)="buscar()" class="btn btn-lg btn-block btn-primary" type="button">Buscar horarios</button>
                      </div>
                    
                  </div>




                </div>
              </div>
            </div>
            
          </div>


          <div class="row mt-4 animated fadeIn" *ngIf="mostrar_resultados">
           
            
            <div class="col-lg-8 mx-auto">


              <div class="row">

                <div class="col-6 col-sm-4 col-lg-3 col-md mb-3 text-left" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,18]">
                  <button (click)="irApaso2()" class="btn-block btn btn-lg btn-primary" type="button">10:00 AM</button>
                </div>
              

              </div>
            </div>


            


            

          </div>

        </div>



        <div *ngIf="paso == 2">
          <div class="row mt-5 animated fadeIn">
            
            <div class="col-lg-5 mx-auto">
             

              <div class="card">
               
                <div class="card-body text-center">

                  <h3>Confirmá tu reserva</h3> 
                  
                  <h1><i class="fa fa-scissors fa-md mt-4"></i> {{ negocio | titlecase }}</h1>
                    <h3>Lunes 12 de Octubre</h3>
                    <h3>10:00 hs</h3>
                    <br>
                    <h5><i class="fa fa-map-marker fa-lg mt-4"></i> Rivera 3452 esq. Atlántico</h5>
                    <br>
                    <h5>Ingresa tu e-mail</h5>
                    <input [(ngModel)]="email" type="text" class="form-control form-control-lg col-sm-9 mx-auto">

                    <br>
                    <br>

                    <button class="btn btn-lg btn-link" (click)="irApaso1()">
                      Volver
                    </button>
                    <button [disabled]="email == ''" class="btn btn-lg btn-primary" (click)="irApaso3()">
                       Confirmar
                    </button>

                </div>
               
              </div>


            </div>
            
          </div>



        </div>



        <div *ngIf="paso == 3">
          <div class="row mt-5 animated fadeIn">
            
            <div class="col-lg-5 mx-auto">
             

              <div class="card">
                
                <div class="card-body text-center">

                  <h3><i class="fa fa-check-circle fa-lg text-primary"></i> Reserva pre-confirmada</h3> 
                  
                  <h1><i class="fa fa-scissors fa-md mt-4"></i> {{ negocio | titlecase }}</h1>
                    <h3>Lunes 12 de Octubre</h3>
                    <h3>10:00 hs</h3>
                    <h5><i class="fa fa-map-marker fa-lg mt-4"></i> Rivera 3452 esq. Atlántico</h5>

                    <br>
                    <div class="alert alert-primary" role="alert" style="text-align: left;">
                      <i class="fa fa-envelope-o" aria-hidden="true"></i> Te hemos enviado un email a tu casilla. Por favor sigue los pasos descriptos en el mismo para confirmar tu reserva.
                    </div>

                   
                </div>
               
              </div>


            </div>
            
          </div>



        </div>

      </div>


    </div><!-- /.container-fluid -->
  </main>
  
</div>
<ngx-spinner type="timer" size="medium"><p style="color: #fff" > Cargando... </p></ngx-spinner>
<!-- https://napster2210.github.io/ngx-spinner/ -->
<!-- <app-footer>
  <span><a href="https://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer> -->
