<div class="app-body" style="margin-top: 0px;">
 
  <main class="main" style="background-image: linear-gradient(#fff, #fff);">
  
    <div class="container-fluid">
      

      <div class="animated fadeIn">

        <div class="row">
          <div class="col-md-12 text-right mt-2">
            <button [routerLink]="['/']" type="button" class="btn btn-link" style="color: #9E31EE !important;">Ir al inicio</button>
            <!-- <button [routerLink]="['/login']" type="button" class="btn btn-link" style="color: #9E31EE !important;">Acceso negocios</button> -->
          </div>
        </div>

        <div class="row" *ngIf="paso == 1">
          <div class="col-lg-12" style="text-align: center;">
            <h3 style="font-size: 39px; background: -webkit-linear-gradient(#8F15D4, #3945D1); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{ nombre_negocio }}</h3>
            
          </div>
        </div>


        <div *ngIf="paso == 1">
          <div class="row mt-5">
            <div class="col-lg-3 mx-auto mt-1">
              <h4 class="text-center mb-4" style="color: #8F9BA6;">Selecciona fecha y hora</h4>
              <input (dateTimeInput)="buscar()" readonly class="form-control form-control-lg text-center" type="text" style="font-size: 25px;height: 50px; border-radius: 50px; border: solid 1px; border-color: #5936D2; cursor: pointer; color: #5138D1" [(ngModel)]="fecha" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [min]="min">
              <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
            </div>




            
          </div>


          <div class="row mt-5 animated fadeIn" *ngIf="mostrar_resultados">
           
            
            <div class="col-lg-8 mx-auto mt-1">

              <div class="row animated fadeIn" *ngIf="!loading && horarios.length == 0">
                <div class="col-lg-12 mx-auto">
                  <div role="alert" class="alert alert-danger text-center" style="color: #5936D2; border-color: #5936D2; background-color: #fff; border-radius: 50px;">
                    <strong>¡Sin resultados!</strong> No hay horarios para esta fecha 
                  </div>
                </div>
              </div>


              <div class="row" *ngIf="horarios.length > 0">

                <div class="animated fadeIn col-6 col-sm-4 col-lg-3 col-md mb-3 text-left" *ngFor="let horario of horarios">
                  <button (click)="irApaso2(horario)" class="btn-block btn btn-lg btn-grad" type="button">{{ horario }}</button>
                </div>
              

              </div>
            </div>


            


            

          </div>

        </div>



        <div *ngIf="paso == 2">
          <div class="row mt-5 animated fadeIn">
            <div class="col-lg-5 mx-auto">
              <h3 class="text-center mb-5" style="font-size: 29px; background: -webkit-linear-gradient(#8F15D4, #3945D1); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">CONFIRMÁ TU RESERVA</h3>
              <p class="text-center display-4" style="font-size: 19px;"><strong>{{ nombre_negocio }}</strong></p>
              <p class="text-center display-4" style="font-size: 19px;">{{ fecha | date }}</p>
              <p class="text-center display-4" style="font-size: 19px;">{{ horario_seleccionado }} hs.</p>
              <input style="height: 50px; border-radius: 50px; border: solid 1px; border-color: #5936D2;" placeholder="INGRESÁ TU E-MAIL" #inputMail class="form-control form-control-lg text-center mt-5" type="text" [(ngModel)]="email">
              <div *ngIf="paso2_mensaje != ''" class="alert alert-danger mt-2" role="alert">
                {{ paso2_mensaje }}
             </div>
              <div class="row">
                <div class="col-md-5 mx-auto">
                  <button [disabled]="!Utilidades.validarEmail(email) || loading" class="btn btn-grad btn-lg btn-block mt-5" (click)="agendar()"><i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i> Confirmar</button>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div *ngIf="paso == 3">
          <div class="row mt-5 animated fadeIn">
            <div class="col-lg-5 mx-auto">
              <h3 class="text-center mb-5" style="font-size: 29px; background: -webkit-linear-gradient(#8F15D4, #3945D1); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">RESERVA PRE-CONFIRMADA</h3>
              <p class="text-center display-4" style="font-size: 19px;"><strong>{{ nombre_negocio }}</strong></p>
              <p class="text-center display-4" style="font-size: 19px;">{{ fecha | date }}</p>
              <p class="text-center display-4" style="font-size: 19px;">{{ horario_seleccionado }} hs.</p>
              <div class="alert alert-primary text-left" role="alert" style="color: #8F15D4; border-color: #8F15D4; background-color: #fff;">
                <h3 class="text-center" style="font-size: 29px;"><i class="fa fa-envelope" aria-hidden="true"></i></h3>
                 <p class="text-center"><strong>Te hemos enviado un email a tu casilla</strong></p>
                 <p class="text-center">Por favor sigue los pasos descriptos en el mismo para confirmar tu reserva.</p>
              </div>
             
            </div>
          </div>
          <!-- <div class="row mt-5 animated fadeIn">
            
            <div class="col-lg-5 mx-auto">



              <div class="card" style="background-color: #fff; color: #5138D1 !important">
               
                <div class="card-header"> <i class="fa fa-check-circle"></i> Reserva pre-confirmada </div>
                <div class="card-body text-center">

              

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">

                        <span class="display-4" style="font-size: 30px;">{{ nombre_negocio }}</span><br><br>
                        <span class="display-4" style="font-size: 30px;">{{ fecha | date }}</span><br>
                        <span class="display-4" style="font-size: 30px;">{{ horario_seleccionado }} hs.</span><br><br>

                        <div class="alert alert-primary" role="alert" style="text-align: left;">
                          <i class="fa fa-envelope-o" aria-hidden="true"></i> Te hemos enviado un email a tu casilla. Por favor sigue los pasos descriptos en el mismo para confirmar tu reserva.
                        </div>
                        
                        

                        
                      </div>
                    </div>
                  </div>

                  
                </div>
               
              </div>
             

            </div>
            
          </div> -->



        </div>

      </div>


    </div><!-- /.container-fluid -->
  </main>
  
</div>
<ngx-spinner type="timer" size="medium" bdColor = "rgba(35, 170, 214, 0.8)"><p style="color: #fff" > Cargando... </p></ngx-spinner>
<!-- https://napster2210.github.io/ngx-spinner/ -->
<!-- <app-footer>
  <span><a href="https://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer> -->
